<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadisticasInicio</servlet-name>
        <servlet-class>servlets.EstadisticasInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrendasVenta</servlet-name>
        <servlet-class>servlets.PrendasVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesVenta</servlet-name>
        <servlet-class>servlets.ClientesVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ventas</servlet-name>
        <servlet-class>servlets.Ventas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteVentas</servlet-name>
        <servlet-class>servlets.ReporteVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prendas</servlet-name>
        <servlet-class>servlets.Prendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportePrendas</servlet-name>
        <servlet-class>servlets.ReportePrendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clientes</servlet-name>
        <servlet-class>servlets.Clientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>servlets.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>servlets.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proveedores</servlet-name>
        <servlet-class>servlets.Proveedores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prendas</servlet-name>
        <url-pattern>/Prendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadisticasInicio</servlet-name>
        <url-pattern>/EstadisticasInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrendasVenta</servlet-name>
        <url-pattern>/PrendasVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesVenta</servlet-name>
        <url-pattern>/ClientesVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ventas</servlet-name>
        <url-pattern>/Ventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteVentas</servlet-name>
        <url-pattern>/ReporteVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportePrendas</servlet-name>
        <url-pattern>/ReportePrendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clientes</servlet-name>
        <url-pattern>/Clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proveedores</servlet-name>
        <url-pattern>/Proveedores</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
